.button-hover {
    color: #f55d14;
    background: transparent;
    background-image: url("../../images/button.svg");
    background-size: 210% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;

    & a {
        color: #f55d14;
        transition: all .2s ease-out;
    }
}

.button-hover:hover {
    background-position: left bottom;

    & a {
        color: white;
    }
}