@tailwind utilities;

@layer utilities {
    @media (max-width: 1024px ) {
        .list {
            height: 2px !important;
        }
    }
    @media (max-width: 1024px ) {
        .mobile-item {
            margin-top: 0 !important;
        }
    }

    .item {
        height: 40px !important;
        width: 2px !important;
        margin-left: 0 !important;
    }
}